{% extends 'base.html.twig' %}

{% block title %}Employees | SI2001{% endblock %}

{% block body %}
    <h1>Employees</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <div class="d-flex justify-content-end">
    <a class="btn btn-success align-content-xl-end btn-lg" href="{{ path('user_new') }}">New Employe</a>
    </div>
    {% endif %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Surname</th>
                <th>Username</th>
                <th>Birthday</th>
                <th>Country</th>
                <th>Marital Status</th>
                <th>Skill</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% if not users is empty %}
                {% for user in users %}
                    <tr>
                        <td>
                            <img src={{ relative_path('http://localhost:8000/uploads/') }}{{ user.link }} height="42" width="42">
                        </td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        <td>
                            <span class="badge badge-dark">
                                {{ user.username }}
                            </span>
                        </td>
                        <td>{{ user.birthday ? user.birthday|date('Y-m-d H:i:s') : '' }}</td>
                        {% if user.country == NULL %}
                            <td>Unknown</td>
                        {% else %}
                            <td>{{ user.country }}</td>
                        {% endif %}
                        {% if user.status.name is not defined %}
                            <td>Unknown</td>
                        {% else %}
                            <td>{{ user.status.name }}</td>
                        {% endif %}
                        <td>
                            {% for skill in user.skillIds %}
                                <button type="button" class="btn btn-warning" disabled>
                                    {{ skill.name }}
                                </button>
                            {% endfor %}
                        </td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') or app.user.id==user.id %}
                                <a class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">Show</a>
                                <a class="btn btn-danger" href="{{ path('user_edit', {'id': user.id}) }}">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
             {% else %}
                <tr>
                    {% if not check %}
                        <td colspan="9">no records found</td>
                    {% else %}
                        <td colspan="9">
                            <b>There are no users born in this country</b>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td><a href="{{ path('user_index') }}" class="btn btn-info">Back to list</a></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
